<%# 利用者ログイン画面を表示 %>
<div class="box">
    <% provide(:title, "ログイン") %>
    <br>
    <h1 style="text-align:center">TA時間管理システム<br>(利用者ログイン)</h1>
    <br>

    <div class="set_center_outer">
        <div class="red-text"><%= flash[:error] %></div>
        <%= form_with url: login_path %>
        <br>
        ユーザ名 ：<%= text_field_tag :name %>
        <br> <br>
        パスワード：<%= password_field_tag :password %>
        <br> <br>
        <%= submit_tag 'ログイン' %>
    </div>

</div>