<%# TA時間割当画面(編集)を表示 %>
<div class="row">
  <div class="col-lg-1 col-md-0"></div>
  <%# TA勤務割当画面(編集)を表示 %>
  <div class="col-lg-10 col-md-12">
    <% if flash[:color] == "red" %>
      <div class="red-text"><%= flash[:notice] %></div>
    <% elsif flash[:color] == "green" %>
      <div class="green-text"><%= flash[:notice] %></div>
    <% else %>
      <div><%= flash[:notice] %></div>
    <% end %>

    <%# TAタイトルとマスタデータ関連 %>
    <div class="row">
      <div class="col-lg-4 col-md-12"><h2>TA勤務割当(編集)</h2></div>
      <div class="col-lg-6 col-md-0"></div>
      <div class="col-lg-2 col-md-12"><%= link_to "科目一覧画面へ", courses_path, class: "btn btn-outline-primary py-2" %></div>
    </div>

    <div class="row m-3">
      <div class="col-3 d-flex align-items-center"><h3 class="">科目：<%= @course.name %></h3></div>
      <div class="col-2 d-flex align-items-center">担当教員: <%= @course.instructor %></div>
      <div class="col-2 d-flex align-items-center">対象年度: <%= @course.year %></div>
      <div class="col-2 d-flex align-items-center">開講学期: <%= @course.term %></div>
      <div class="col-3 d-flex align-items-center">割当可能残時間(分): <%= @course.time_budget - @sum_actual_working_minutes %></div>
    </div>


    <%# 検索欄 %>
    <div class="card my-3">
      <div class="card-header">
        検索欄
      </div>
      <div class="card-body">
        <form class="row g-3">
          <%= search_form_for @q, html: {class:"row g-3"} do |f| %>
            <div class="col-md-4">
              <div class="row">
                <div class="col-4"><%=f.label :teaching_assistant_name_i_cont, "TA名", class: "mt-2" %></div>
                <div class="col-8"><%= f.search_field :teaching_assistant_name_i_cont, placeholder: "条件を入力してください",class: "form-control" %></div>
              </div>
            </div>
            <div class="col-12 text-center mt-5">
              <%= f.submit "検索", class: "ms-5 btn btn-primary px-4"%>
              <%= link_to "クリア", course_assignments_path(@course), class: "ms-5 btn btn-danger px-4" %>
            </div>
          <% end %>
        </form>
      </div>
    </div>

    <%# TA勤務割当処理 %>
    <div class="card my-3">
      <div class="card-header">
        <%#= icon_with_text("table", "一覧") %>
        <div class="row">
          <div class="col-3 d-flex align-items-center">TA勤務割当処理</div>
          <div class="col-2"><%= link_to "勤務追加", new_course_work_hour_path, class: "btn btn-outline-success", data: { turbo_frame: "new_work_hour" }  %></div>
          <div class="col-2"><%= link_to "TA候補追加", new_course_assignment_path, class: "btn btn-outline-primary", method: :get %></div>
          <div class="col-2"><%= link_to "TA候補削除", index_destroy_course_assignments_path, class: "btn btn-outline-danger", method: :delete %></div>
          <div></div class="col-3">
        </div>
      </div>
      <div class="card-body mx-3">
        <div class="row py-2">
          <div class="col my-auto">日付</div>
          <div class="col my-auto">開始時刻</div>
          <div class="col my-auto">終了時刻</div>
          <div class="col my-auto">実働時間(分)</div>
          <div class="col my-auto">割当TA名</div>
          <div class="col my-auto">操作</div>
        </div>
        <%= turbo_frame_tag "new_work_hour" %>
        <div id="assignments">
        <% @assignments.each do |assignment| %>
          <% assignment.work_hours.each do|work_hour| %>
            <%= render partial: 'assignment_view', locals:{ assignment: assignment,work_hour: work_hour } %>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-1 col-md-0"></div>
</div>
