<p style="color: green"><%= notice %></p>

<h1>TA時間割当(編集)</h1>

  <%= link_to "科目一覧画面へ", courses_path %>
  <%#= link_to "勤務追加", new_course_work_hour_path, method: :get %>
  <%= link_to "勤務追加", new_course_work_hour_path, class: "btn btn-outline-primary", data: { turbo_frame: "new_work_hour" }  %>
  <%= link_to "候補追加", new_course_assignment_path, method: :get %>
  <%= link_to "候補削除", index_destroy_course_assignments_path, method: :delete %>

<form class="row g-3">
  <%= search_form_for @q,url: course_assignments_path(params[:course_id]), html: {class:"row g-3"} do |f| %>
    <div class="col-md-4">
      <%= f.label :teaching_assistant_name_i_cont, "TA名" %>
      <%= f.search_field :teaching_assistant_name_i_cont, placeholder: "条件を入力してください" %>
    </div>
    <div class="col-12">
      <%= f.submit "検索", class: "btn btn-primary" %>
    </div>
  <% end %>
</form>

<div>
    <span>
      <%= @course.name %>
    </span>
    担当教員: <%= @course.instructor %>
    対象年度: <%= @course.year %>
    開講学期: <%= @course.term %>
    割当可能総時間: <%= @course.time_budget %>
  </div>

<div class="card shadow mt-3">
  <div class="card-header">
    <%#= icon_with_text("table", "一覧") %>
  </div>
  <div class="card-body mx-3">
    <div class="row py-2">
      <div class="col my-auto">開始時刻</div>
      <div class="col my-auto">終了時刻</div>
      <div class="col my-auto">合計勤務時間(分)</div>
      <div class="col my-auto">TA名</div>
      <div class="col my-auto">操作</div>
    </div>
    <%# 表の表示部分を他のファイルで行ってまとめました． 非同期処理のためのタグもそっちで追加 
    tableタグではうまくいかなたったので，divタグで表を作ってます．デザイン乃村先生なので修正する． %>
    <%= turbo_frame_tag "new_work_hour" %>
    <%= render partial: 'assignment_view' %>
  </div>
</div>

<script>
  <%= raw <<~JS.strip %>
    document.addEventListener('DOMContentLoaded', function() {
      document.getElementById('delete-buttom').addEventListener('click', function(e) {
        if (!confirm('編集を保存していない場合，他の編集データが失われます．\n削除してもよろしいですか？')) {
          e.preventDefault(); // ボタンのデフォルトの動作をキャンセル
        }
      });
    });
  JS
</script>
