<%# TA候補追加画面のView %>
<div class="row">
  <div class="col-lg-1 col-md-0"></div>
  <%# TA候補追加画面の処理部分 %>
  <div class="col-lg-10 col-md-12">
    <%# メッセージ処理部分 %>
    <% if flash[:color] == "red" %>
      <div class="red-text"><%= flash[:notice] %></div>
    <% elsif flash[:color] == "green" %>
      <div class="green-text"><%= flash[:notice] %></div>
    <% else %>
      <div><%= flash[:notice] %></div>
    <% end %>

    <%# TA候補追加タイトルと戻る %>
    <div class="row ">
      <div class="col-lg-4 colmd-12"><h2>TA候補追加</h2></div>
      <div class="col-lg-6 col-md-0"></div>
      <div class="col-lg-2 col-md-12 d-flex align-items-center "><%= link_to "戻る", course_assignments_path, class: "ms-5 btn btn-danger px-3" %></div>
    </div>

    <%# 検索欄 %>
    <div class="card my-3">
      <div class="card-header">
        検索欄
      </div>
      <div class="card-body">
        <form class="row g-3">
          <%= search_form_for @q, html: {class:"row g-3"} do |f| %>
            <div class="col-md-4">
              <div class="row">
                <div class="col-4"><%= f.label :year_eq, "対象年度",class: "mt-2" %></div>
                <div class="col-8"><%= f.select :year_eq, @select_years, {prompt:"対象年度を選択"},class: "form-control" %></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-4"><%= f.label :name_i_cont, "TA名",class: "mt-2" %></div>
                <div class="col-8"><%= f.search_field :name_i_cont, placeholder: "条件を入力してください" ,class: "form-control" %></div>
              </div>  
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-4"><%= f.label :number_i_cont, "学生番号",class: "mt-2" %></div>
                <div class="col-8"><%= f.search_field :number_i_cont, placeholder: "条件を入力してください" ,class: "form-control" %></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-4"><%= f.label :grade_i_cont, "学年",class: "mt-2" %></div>
                <div class="col-8"><%= f.search_field :grade_i_cont, placeholder: "条件を入力してください" ,class: "form-control" %></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-4"><%= f.label :labo_i_cont, "研究室", class: "mt-2" %></div>
                <div class="col-8"><%= f.search_field :labo_i_cont, placeholder: "条件を入力してください" ,class: "form-control" %></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-4"><%= f.label :description_i_cont, "備考", class: "mt-2" %></div>
                <div class="col-8"><%= f.search_field :description_i_cont, placeholder: "条件を入力してください" ,class: "form-control" %></div>
              </div>
            </div>
            <div class="col-12 text-center mt-5">
              <%= f.submit "検索", class: "btn btn-primary px-4"%>
              <%= link_to "クリア", new_course_assignment_path, class: "ms-5 btn btn-danger px-4" %>
            </div>
          <% end %>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-1 col-md-0"></div>
</div>


<%# TA候補追加表 %>
<%= form_tag course_assignments_path(@course), method: :post do %>
<div class="row mb-3">
  <div class="col-lg-1 col-md-0"></div>
  <%# TA候補追加表 %>
  <div class="col-lg-10 col-md-12">
    <div class="card">
      <div class="card-header">
          <div class="row">
            <div class="col-3 d-flex align-items-center">TA候補追加画面</div>
            <div class="col-9"><%= submit_tag '選択したTAをすべて候補として追加', class: "ms-5 btn btn-success px-3" %></div>
          </div>
      </div>
      <div class="card-body m-3">
        <%# TA候補追加のカラムのヘッダー %>
        <div class="row border-bottom border-dark pb-3">
          <div class="col my-auto fw-bolder h5">TA候補者選択</div>
          <div class="col my-auto fw-bolder h5">対象年度</div>
          <div class="col my-auto fw-bolder h5">TA名</div>
          <div class="col my-auto fw-bolder h5">学生番号</div>
          <div class="col my-auto fw-bolder h5">学年</div>
          <div class="col my-auto fw-bolder h5">研究室</div>
          <div class="col my-auto fw-bolder h5">備考</div>
        </div>
        <%# TAのレコードデータ %>
        <div id="teaching_assistants">
          <% @teaching_assistants.each do |teaching_assistant| %>
            <div class="row border-bottom px-3 py-2">
              <% if teaching_assistant.id == 1 %>
                <% next %>
              <% else %>
                <% if Assignment.where(course_id: @course.id).where(teaching_assistant_id: teaching_assistant.id).count >= 1 %>
                  <div class="col my-auto"><%= "TA候補として登録済み" %></div>
                <% else %>
                  <div class="col my-auto"><%= check_box_tag 'teaching_assistant_ids[]', teaching_assistant.id %></div>
                <% end %>
                <div class="col my-auto"><%= teaching_assistant.year %></div>
                <div class="col my-auto"><%= teaching_assistant.name %></div>
                <div class="col my-auto"><%= teaching_assistant.number %></div>
                <div class="col my-auto"><%= teaching_assistant.grade %></div>
                <div class="col my-auto"><%= teaching_assistant.labo %></div>
                <div class="col my-auto"><%= teaching_assistant.description %></div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-1 col-md-0"></div>
</div>
<% end %>