<h1>TA候補追加</h1>

<%= link_to "戻る", course_assignments_path %>

<div><%= flash[:notice] %></div>

<%= form_tag course_assignments_path(@course), method: :post do %>
  <%= submit_tag '選択したTAをすべて候補として追加' %>

  <table class="table table-bordered">
    <thead class="table-primary">
      <tr>
      <th>TA候補者選択</th>
      <th>対象年度</th>
      <th>TA名</th>
      <th>学生番号</th>
      <th>学年</th>
      <th>研究室</th>
      <th>備考</th>
      </tr>
    </thead>
    <tbody>
      <div id="teaching_assistants">
        <% @teaching_assistants.each do |teaching_assistant| %>
          <tr>
          <% if Assignment.where(course_id: @course.id).where(teaching_assistant_id: teaching_assistant.id).count >= 1 %>
            <td>
              <%= "TA候補として登録済み" %>
            </td>
          <% else %>
            <td>
              <%= check_box_tag 'teaching_assistant_ids[]', teaching_assistant.id %>
            </td>
          <% end %>
            <td>
              <%= teaching_assistant.year %>
            </td>

            <td>
              <%= teaching_assistant.name %>
            </td>

            <td>
              <%= teaching_assistant.number %>
            </td>

            <td>
              <%= teaching_assistant.grade %>
            </td>

            <td>
              <%= teaching_assistant.labo %>
            </td>

            <td>
              <%= teaching_assistant.description%>
            </td>
          </tr>
        <% end %>
      </div>
    </tbody>
  </table>
<% end %>
