<%= form_with(model: user, html: {class: "container mt-3 border p-3 bg-light rounded"}) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row border-bottom py-2">
    <div class="col-md-3">
      <strong>アカウント名</strong>
    </div>
    <div class="col-md-7">
      <%= form.text_field :account_name %>
    </div>
  </div>

  <div class="row border-bottom py-2">
    <div class="col-md-3">
      <strong>パスワード</strong>
    </div>
    <div class="col-md-7">
      <%= form.text_field :password %>
    </div>
  </div>

  <% if user.id != 1 %>
    <div class="row border-bottom py-2">
      <div class="col-md-3">
        <strong>ユーザタイプ</strong>
      </div>
      <div class="col-md-7">
        <% if user.admin_flag %>
          <%= select_tag :admin_flag, options_for_select([['管理者', true], ['利用者', false]], true)%>
        <% else %>
          <%= select_tag :admin_flag, options_for_select([['管理者', true], ['利用者', false]], false)%>
        <% end %>
      </div>
    </div>
  <% end %>
  
  <div class="mt-3">
    <%= form.submit @user.new_record? ? '登録' : '更新', class: "btn btn-primary px-4" %>
  </div>
<% end %>
