<div class="row">
  <div class="col-lg-1 col-md-0"></div>
  <div class="col-lg-10 col-md-12">
    <% if flash[:color] == "red" %>
      <div class="red-text"><%= flash[:notice] %></div>
    <% elsif flash[:color] == "green" %>
      <div class="green-text"><%= flash[:notice] %></div>
    <% else %>
      <div><%= flash[:notice] %></div>
    <% end %>

    <div class="row">
      <div class="col-lg-4 col-md-12"><h2>ユーザ編集</h2></div>
    </div>
    <div class="col-lg-2 col-md-12"><%= link_to 'ユーザ一覧に戻る', users_path, class: 'btn btn-outline-danger py-2' %></div>
  </div>
</div>

<%= render "form", user: @user %>