<%# ===================
===  使用していない  ====
=====================%>
<p style="color: green"><%= notice %></p>
<div class="row">
  <div class="col-lg-1 col-md-0"></div>
  <div class="col-lg-10 col-md-12">
    <% if flash[:color] == "red" %>
      <div class="red-text"><%= flash[:notice] %></div>
    <% elsif flash[:color] == "green" %>
      <div class="green-text"><%= flash[:notice] %></div>
    <% else %>
      <div><%= flash[:notice] %></div>
    <% end %>
    <div class="row">
      <div class="col-lg-4 col-md-12"><h2>ユーザ情報</h2></div>
    </div>
    <%= render @user %>
  </div>
</div>

