<%# 非同期で編集モード時に表示変更するコード %>
<%= turbo_frame_tag work_hour do %>
  <%= bootstrap_form_with(model: [@course, @work_hour]) do |form| %>
      <% if work_hour.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(work_hour.errors.count, "error") %> prohibited this work_hour from being saved:</h2>

          <ul>
            <% work_hour.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

    <div class="row py-2 border-top">
      <div class="col">  
        <% if work_hour.date %>
          <%= form.date_field :date, value: work_hour.date.to_date.strftime("%Y-%m-%d") %>
        <% else %>
          <%= form.date_field :date %>
        <% end %>
      </div>

      <div class="col">
        <% if work_hour.dtstart %>
          <%= form.time_field :dtstart, value: work_hour.dtstart.strftime("%H:%M") %>
        <% else %>
          <%= form.time_field :dtstart %>
        <% end %>
      </div>

      <div class="col">
        <% if work_hour.dtend %>
          <%= form.time_field :dtend, value: work_hour.dtend.strftime("%H:%M") %>
        <% else %>
          <%= form.time_field :dtend %>
        <% end %>  
      </div>

      <div class="col">
        <%#= form.label :actual_working_minutes, style: "display: block" %>
        <%= form.number_field :actual_working_minutes %>
      </div>

      <div class="col">
        <%#= form.label :assignment_id, style: "display: block" %>
        <%#= form.select :assignment_id, @assignments.map { |a| ["#{a.teaching_assistant.name} - #{a.teaching_assistant.number}", a.id] }, prompt: 'Select Assignment' %>
        <%= form.select :assignment_id, @assignments.map {|a| 
          if a.teaching_assistant_id == 1 
            ["未割当", a.id]
          else
            ["#{a.teaching_assistant.name} - #{a.teaching_assistant.number}", a.id]
          end
          }, prompt: 'Select Assignment' %>
        <%#= form.select :assignment_id, 
        @assignments.reject { |a| a.teaching_assistant_id == 1 }.map { |a| ["#{a.teaching_assistant.name} - #{a.teaching_assistant.number}", a.id] },
        include_blank: true %>
      </div>

      <div class="col">
        <%= form.submit "登録", class:"btn btn-secondary" %>
        <%= link_to "戻る", course_assignments_path, class:"btn btn-warning" %>
        <%#= link_to "Back", @work_hour, class: "btn btn-sm btn-outline-secondary" %>
      </div>

    </div>
  <% end %>
<% end %>
