<%# 新規マスタデータ追加画面の個別登録のフォームを表示 %>
<%# <div class="row"> %>
  <%= form_with(model: course) do |form| %>
    <% if course.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

        <ul>
          <% course.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
<div class="row">
    <div class="col-md-4">
      <div class="row mb-3">
        <div class="col-4"><%= form.label :対象年度, style: "display: block",class: "mt-2"  %></div>
        <div class="col-8"><%= form.number_field :year, class: "form-control" %></div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row mb-3">
        <div class="col-4"><%= form.label :学期, style: "display: block",class: "mt-2" %></div>
        <div class="col-8"><%= form.text_field :term, class: "form-control", maxlength: "64" %></div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row mb-3">
        <div class="col-4"><%= form.label :講義番号, style: "display: block",class: "mt-2" %></div>
        <div class="col-8"><%= form.text_field :number, class: "form-control", maxlength: "6" %></div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row mb-3">
        <div class="col-4"><%= form.label :科目名, style: "display: block",class: "mt-2" %></div>
        <div class="col-8"><%= form.text_field :name, class: "form-control", maxlength: "128" %></div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row mb-3">
        <div class="col-4"><%= form.label :担当教員名, style: "display: block",class: "mt-2" %></div>
        <div class="col-8"><%= form.text_field :instructor, class: "form-control", maxlength: "128" %></div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row mb-3">
        <div class="col-4"><%= form.label :割当可能総時間, style: "display: block",class: "mt-2" %></div>
        <div class="col-8"><%= form.number_field :time_budget, class: "form-control", maxlength: "128" %></div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row mb-3">
        <div class="col-4"><%= form.label :備考, style: "display: block",class: "mt-2" %></div>
        <div class="col-8"><%= form.text_field :description, class: "form-control", maxlength: "128" %></div>
      </div> 
    </div>

    <div class="col-12 text-center mt-5">
      <%= form.submit "登録", class: "ms-5 btn btn-primary px-4" %>
      <%= link_to "クリア", new_course_path, class: "ms-5 btn btn-danger px-4" %>
    </div>
  <% end %>
</div>

