<%# 科目マスタデータ削除画面を表示 %>
<div class="row">
  <div class="col-lg-1 col-md-0"></div>
  <%# 科目マスタデータ削除画面の内容 タイトル 検索 %>
  <div class="col-lg-10 col-md-12">
    <% if flash[:color] == "red" %>
      <div class="red-text"><%= flash[:notice] %></div>
    <% elsif flash[:color] == "green" %>
      <div class="green-text"><%= flash[:notice] %></div>
    <% else %>
      <div><%= flash[:notice] %></div>
    <% end %>

    <div class="row">
      <%# 科目タイトルと戻る %>
      <div class="col-lg-4 col-md-12"><h2>科目マスタデータ削除</h2></div>
      <div class="col-lg-6 col-md-0"></div>
      <div class="col-lg-2 col-md-12 d-flex align-items-center">
        <%= link_to "科目一覧に戻る", courses_path, class: "btn btn-outline-danger" %>
      </div>
    </div>

    <%# 検索欄 %>
    <div class="card my-3">
      <div class="card-header">
        検索欄
      </div>
      <div class="card-body">
        <form class="row g-3">
          <%= search_form_for @q, html: {class:"row g-3"} do |f| %>
            <div class="col-md-4">
              <div class="row">
                <div class="col-4"><%= f.label :year_eq, "対象年度", class: "mt-2" %></div>
                <div class="col-8"><%= f.select :year_eq, @select_years, {prompt:"対象年度を選択"}, class: "form-control" %></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-4"><%= f.label :term_i_cont, "学期", class: "mt-2" %></div>
                <div class="col-8"><%= f.search_field :term_i_cont, placeholder: "条件を入力してください", class: "form-control" %></div>
              </div>  
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-4"><%= f.label :number_i_cont, "講義番号", class: "mt-2" %></div>
                <div class="col-8"><%= f.search_field :number_i_cont, placeholder: "条件を入力してください", class: "form-control" %></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-4"><%= f.label :name_i_cont, "科目名", class: "mt-2" %></div>
                <div class="col-8"><%= f.search_field :name_i_cont, placeholder: "条件を入力してください", class: "form-control" %></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-4"><%= f.label :instructor_i_cont, "担当教員", class: "mt-2" %></div>
                <div class="col-8"><%= f.search_field :instructor_i_cont, placeholder: "条件を入力してください", class: "form-control" %></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-4"><%= f.label :description_i_cont, "備考", class: "mt-2" %></div>
                <div class="col-8"><%= f.search_field :description_i_cont, placeholder: "条件を入力してください", class: "form-control" %></div>
              </div>
            </div>
            <div class="col-12 text-center mt-5">
              <%= f.submit "検索", class: "ms-5 btn btn-primary px-4"%>
              <%= link_to "クリア", index_destroy_courses_path, class: "ms-5 btn btn-danger px-3" %>
            </div>
          <% end %>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-1 col-md-0"></div>
</div>


<%# 削除選択表 %>
<%= form_tag index_destroy_courses_path, method: :delete, data: {turbo_confirm: "科目に関連する割当がある場合，割当も削除されます．選択した科目を本当に削除しますか？"} do %>
<div class="row mb-3">
  <div class="col-lg-1 col-md-0"></div>
  <%# TA一覧表部分 %>
  <div class="col-lg-10 col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-3 d-flex align-items-center">科目一覧(削除画面)</div>
          <div class="col-9"><%= submit_tag '選択したものをすべて削除', class: "ms-5 btn btn-danger px-3" %></div>
        </div>
      </div>
      <div class="card-body m-3">
        <%# TAのカラムのヘッダー %>
        <div class="row border-bottom border-dark pb-3">
          <div class="col my-auto fw-bolder h5">削除対象科目</div>
          <div class="col my-auto fw-bolder h5">対象年度</div>
          <div class="col my-auto fw-bolder h5">学期</div>
          <div class="col my-auto fw-bolder h5">講義番号</div>
          <div class="col my-auto fw-bolder h5">科目名</div>
          <div class="col my-auto fw-bolder h5">担当教員</div>
          <div class="col my-auto fw-bolder h5">備考</div>
          <div class="col my-auto fw-bolder h5">割当可能総時間(分)</div>
        </div>
        <%# TAのレコードデータ %>
        <div id="courses">
          <% @courses.each do |course| %>
            <div class="row border-bottom px-3 py-4">
              <div class="col my-auto"><%= check_box_tag 'course_ids[]', course.id %></div>
              <div class="col my-auto"><%= course.year %></div>
              <div class="col my-auto"><%= course.term %></div>
              <div class="col my-auto"><%= course.number %></div>
              <div class="col my-auto"><%= course.name %></div>
              <div class="col my-auto"><%= course.instructor %></div>
              <div class="col my-auto"><%= course.description %></div>
              <div class="col my-auto"><%= course.time_budget %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-1 col-md-0"></div>
</div>
<% end %>