<p style="color: green"><%= notice %></p>

<h1>科目一覧画面</h1>

<%= link_to "新規科目データを追加", new_course_path %>
<%= link_to "科目マスタデータ削除", remove_courses_path %>

<div id="courses">
  <% @courses.each do |course| %>
    <%= render course %>
    <p>
      <%= link_to "詳細", course %>
    </p>
  <% end %>
</div>
