<p style="color: green"><%= notice %></p>

<h1>科目一覧画面</h1>

<% if session[:admin_flag] == true %>
  <%= link_to "新規科目データを追加", new_course_path %>
  <%= link_to "科目マスタデータ削除", index_destroy_courses_path %>
<% end %>

<form class="row g-3">
  <%= search_form_for @q, html: {class:"row g-3"} do |f| %>
    <div class="col-md-4">
      <%= f.label :year_eq, "対象年度" %>
      <%= f.select :year_eq, @select_years, {prompt:"対象年度を選択"} %>
    </div>
    <div class="col-md-4">
      <%= f.label :term_i_cont, "学期" %>
      <%= f.search_field :term_i_cont, placeholder: "条件を入力してください" %>
    </div>
    <div class="col-md-4">
      <%= f.label :number_i_cont, "科目番号" %>
      <%= f.search_field :number_i_cont, placeholder: "条件を入力してください" %>
    </div>
    <div class="col-md-4">
      <%= f.label :name_i_cont, "授業科目名" %>
      <%= f.search_field :name_i_cont, placeholder: "条件を入力してください" %>
    </div>
    <div class="col-md-4">
      <%= f.label :instructor_i_cont, "担当教員" %>
      <%= f.search_field :instructor_i_cont, placeholder: "条件を入力してください" %>
    </div>
    <div class="col-md-4">
      <%= f.label :description_i_cont, "備考" %>
      <%= f.search_field :description_i_cont, placeholder: "条件を入力してください" %>
    </div>
    <div class="col-12">
      <%= f.submit "検索", class: "btn btn-primary" %>
    </div>
  <% end %>
</form>

<br>
<table class="table table-bordered">
  <thead class="table-primary">
    <tr>
    <th>対象年度</th>
    <th>学期</th>
    <th>講義番号</th>
    <th>講義科目名</th>
    <th>担当教員</th>
    <th>TA可能割当総時間(分)</th>
    <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <div id="courses">
      <% @courses.each do |course| %>
        <tr>
          <td><%= course.year %></td>
          <td><%= course.term %></td>
          <td><%= course.number %></td>
          <td><%= course.name %></td>
          <td><%= course.instructor %></td>
          <td><%= course.time_budget %></td>
          <td>
            <%= link_to "編集", course_assignments_path(course) %>
            <%= link_to "閲覧", course_path(course) %>
          </td>
        </tr>
      <% end %>
    </div>
  </tbody>
</table>