<%# 新規科目マスタデータ追加画面表示 %>
<div class="row">
  <div class="col-lg-1 col-md-0"></div>
  <%# 科目マスタデータ追加の画面上部の内容 タイトル 検索 追加 %>
  <div class="col-lg-10 col-md-12">
    <% if flash[:color] == "red" %>
      <div class="red-text"><%= flash[:notice] %></div>
    <% elsif flash[:color] == "green" %>
      <div class="green-text"><%= flash[:notice] %></div>
    <% else %>
      <div><%= flash[:notice] %></div>
    <% end %>

    <%# 新規科目と戻る関連 %>
    <div class="row">
      <div class="col-lg-4 col-md-12"><h2>科目マスタデータ追加</h2></div>
      <div class="col-6"></div>
      <div class="col-lg-2 col-md-12">
        <%= link_to "科目一覧に戻る", courses_path, class: "btn btn-outline-danger" %>
      </div>
    </div>

    <%# 追加部分  %>
    <div class="card my-3">
      <div class="card-header">
        科目マスタデータ追加処理部分
      </div>
      <div class="card-body">
        <%# 登録方法を選択する %>
        <%= select_tag :registration_type, options_for_select(["科目個別登録", "科目一括登録"]), id: "registration_type_select", class: "form-control my-2 mb-4" %>
        <%# 個人登録のフォームを表示 %>
        <div id="individual_registration_form" style="display: block;">
          <%= render "form", course: @course %>
        </div>

        <%# 一括登録を表示 %>
        <div id="import_form" style="display: none;" class="mb-3">
          <%= form_tag import_courses_path, multipart: true do %>
            <div class="row">
              <div class="col-8"><%= file_field_tag :file, accept: ".csv", class: "form-control" %></div>
              <div class="col-4"><%= submit_tag "登録",class: "ms-5 btn btn-primary px-4" %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <%# 検索欄 %>
    <div class="card my-3">
      <div class="card-header">
        検索欄
      </div>
      <div class="card-body">
        <form class="row g-3">
          <%= search_form_for @q, html: {class:"row g-3"} do |f| %>
            <div class="col-md-4">
              <div class="row">
                <div class="col-4"><%= f.label :year_eq, "対象年度",class: "mt-2" %></div>
                <div class="col-8"><%= f.select :year_eq, @select_years, {prompt:"対象年度を選択"},class: "form-control" %></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-4"><%= f.label :name_i_cont, "学期",class: "mt-2" %></div>
                <div class="col-8"><%= f.search_field :name_i_cont, placeholder: "条件を入力してください" ,class: "form-control" %></div>
              </div>  
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-4"><%= f.label :number_i_cont, "講義番号",class: "mt-2" %></div>
                <div class="col-8"><%= f.search_field :number_i_cont, placeholder: "条件を入力してください" ,class: "form-control" %></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-4"><%= f.label :name_i_cont, "科目名",class: "mt-2" %></div>
                <div class="col-8"><%= f.search_field :name_i_cont, placeholder: "条件を入力してください" ,class: "form-control" %></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-4"><%= f.label :instructor_i_cont, "担当教員", class: "mt-2" %></div>
                <div class="col-8"><%= f.search_field :instructor_i_cont, placeholder: "条件を入力してください" ,class: "form-control" %></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-4"><%= f.label :description_i_cont, "備考", class: "mt-2" %></div>
                <div class="col-8"><%= f.search_field :description_i_cont, placeholder: "条件を入力してください" ,class: "form-control" %></div>
              </div>
            </div>
            <div class="col-12 text-center mt-5">
              <%= f.submit "検索", class: "ms-5 btn btn-primary px-4"%>
              <%= link_to "クリア", new_course_path, class: "ms-5 btn btn-danger px-4" %>
            </div>
          <% end %>
        </form>
      </div>
    </div>
    
  </div>
  <div class="col-lg-1 col-md-0"></div>
</div>


<script>
  document.addEventListener("turbo:load", function(){
    const registrationTypeSelect = document.getElementById("registration_type_select");
    const importForm = document.getElementById("import_form");
    const individualRegistrationForm = document.getElementById("individual_registration_form");

    registrationTypeSelect.addEventListener("change", function(){
      if (registrationTypeSelect.value === "科目一括登録"){
        importForm.style.display = "block";
        individualRegistrationForm.style.display = "none";
      }else if(registrationTypeSelect.value === "科目個別登録"){
        importForm.style.display = "none";
        individualRegistrationForm.style.display = "block";
      }
    });
  });
</script>


<%# 科目一覧画面の表部分の作成 %>
<div class="row mb-3">
  <div class="col-lg-1 col-md-0"></div>
  <%# TA一覧表部分 %>
  <div class="col-lg-10 col-md-12">
    <div class="card">
      <div class="card-header">
        科目一覧
      </div>
      <div class="card-body m-3">
        <%# TAのカラムのヘッダー %>
        <div class="row border-bottom border-dark pb-3">
          <div class="col my-auto fw-bolder h5">対象年度</div>
          <div class="col my-auto fw-bolder h5">学期</div>
          <div class="col my-auto fw-bolder h5">講義番号</div>
          <div class="col my-auto fw-bolder h5">講義科目名</div>
          <div class="col my-auto fw-bolder h5">担当教員</div>
          <div class="col my-auto fw-bolder h5">TA可能割当総時間(分)</div>
        </div>
        <%# TAのレコードデータ %>
        <div id="courses">
          <% @courses.each do |course| %>
            <div class="row border-bottom px-3 py-4">
              <div class="col my-auto"><%= course.year %></div>
              <div class="col my-auto"><%= course.term %></div>
              <div class="col my-auto"><%= course.number %></div>
              <div class="col my-auto"><%= course.name %></div>
              <div class="col my-auto"><%= course.instructor %></div>
              <div class="col my-auto"><%= course.time_budget  %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-1 col-md-0"></div>
</div>
