<h1>新規科目マスタデータ削除</h1>

<div id="courses">
<% @courses.each do |course| %>
  <tr>
    <td>
      <%= course.year %>
    </td>

    <td>
      <%= course.term %>
    </td>

    <td>
       <%= course.number %>
    </td>

    <td>
      <%= course.name %>
    </td>

    <td>
      <%= course.instructor %>
    </td>

    <td>
      <%= course.time_budget %>
    </td>

    <td>
      <%= link_to "編集", course %>
      <%= link_to "閲覧", course %>
    </td>
  </tr>