<p style="color: green"><%= notice %></p>

<%= render @course %>

<div>
  <%= link_to "編集", edit_course_path(@course) %> |
  <%= link_to "科目一覧", courses_path %>

  <%= button_to "削除", @course, method: :delete %>
</div>
