<p style="color: green"><%= notice %></p>

<h1>TA一覧画面</h1>

<%= link_to "TAマスタデータを追加", new_teaching_assistant_path %>
<%= link_to "TAマスタデータ削除", remove_teaching_assistants_path %>

<div id="teaching_assistants">
  <% @teaching_assistants.each do |teaching_assistant| %>
    <%= render teaching_assistant %>
    <p>
      <%= link_to "詳細", teaching_assistant %>
    </p>
  <% end %>
</div>
