<%# TA一覧画面表示 %>
<% if flash[:color] == "red" %>
  <div class="red-text"><%= flash[:notice] %></div>
<% elsif flash[:color] == "green" %>
  <div class="green-text"><%= flash[:notice] %></div>
<% else %>
  <div><%= flash[:notice] %></div>
<% end %>

<h1>TA一覧画面</h1>

<% if session[:admin_flag] == true %>
  <%= link_to "TAデータを追加", new_teaching_assistant_path, class: "btn btn-outline-primary" %>
  <%= link_to "TAデータ削除", index_destroy_teaching_assistants_path, class: "btn btn-outline-danger" %>
<% end %>

<form class="row g-3">
  <%= search_form_for @q, html: {class:"row g-3"} do |f| %>
    <div class="col-md-4">
      <%= f.label :year_eq, "対象年度" %>
      <%= f.select :year_eq, @select_years, {prompt:"対象年度を選択"} %>
    </div>
    <div class="col-md-4">
      <%= f.label :name_i_cont, "TA名" %>
      <%= f.search_field :name_i_cont, placeholder: "条件を入力してください" %>
    </div>
    <div class="col-md-4">
      <%= f.label :number_i_cont, "学生番号" %>
      <%= f.search_field :number_i_cont, placeholder: "条件を入力してください" %>
    </div>
    <div class="col-md-4">
      <%= f.label :grade_i_cont, "学年" %>
      <%= f.search_field :grade_i_cont, placeholder: "条件を入力してください" %>
    </div>
    <div class="col-md-4">
      <%= f.label :labo_i_cont, "研究室" %>
      <%= f.search_field :labo_i_cont, placeholder: "条件を入力してください" %>
    </div>
    <div class="col-md-4">
      <%= f.label :description_i_cont, "備考" %>
      <%= f.search_field :description_i_cont, placeholder: "条件を入力してください" %>
    </div>
    <div class="col-12">
      <%= f.submit "検索", class: "btn btn-primary" %>
      <%= link_to "クリア", teaching_assistants_path, class: "btn btn-danger" %>
    </div>
  <% end %>
</form>

<br>
<table class="table table-bordered">
  <thead class="table-primary">
    <tr>
    <th>対象年度</th>
    <th>TA名</th>
    <th>学生番号</th>
    <th>学年</th>
    <th>研究室</th>
    <th>備考</th>
    <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <div id="courses">
      <% @teaching_assistants.each do |teaching_assistant| %>
        <tr>
          <% if teaching_assistant.id == 1 %>
            <% next %>
          <% else %>
            <td><%= teaching_assistant.year %></td>
            <td><%= teaching_assistant.name %></td>
            <td><%= teaching_assistant.number %></td>
            <td><%= teaching_assistant.grade %></td>
            <td><%= teaching_assistant.labo %></td>
            <td><%= teaching_assistant.description %></td>
            <td class="d-flex">
              <div class="me-3">
              <%#= link_to "帳票出力", ta_assignment_output_csv_url(teaching_assistant_id: teaching_assistant.id),  data: { "turbo-method": :post} ,class: 'btn btn-info' %>
              <%= link_to "帳票出力", index_output_excel_path(@teaching_assistant = teaching_assistant), target: :_blank, rel: "noopener noreferrer"  ,class: 'btn btn-info' %>
              </div>
              <div>
                <%= link_to teaching_assistant_path(teaching_assistant),class: 'btn btn-success' do %>
                  個人画面
                <% end %>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </div>
  </tbody>
</table>

