<%# 新規TAマスタデータ追加画面を表示 %>
<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <% if flash[:color] == "red" %>
      <div class="red-text"><%= flash[:notice] %></div>
    <% elsif flash[:color] == "green" %>
      <div class="green-text"><%= flash[:notice] %></div>
    <% else %>
      <div><%= flash[:notice] %></div>
    <% end %>

    <%# 新規TAタイトルとマスタデータ関連 %>
    <div class="row ">
      <div class="col-3"><h2>新規TAマスタデータ追加</h2></div>
      <div class="col-2 d-flex align-items-center">
        <%= link_to "TA一覧に戻る", teaching_assistants_path, class: "btn btn-info" %>
      </div>
      <div class="col-7"></div>
    </div>

    <%# TAの追加 %>
    <div class="card my-3">
      <div class="card-header">
        新規TAマスタデータ追加処理部分
      </div>
      <div class="card-body">
        <%# 登録方法を選択する %>
        <%= select_tag :registration_type, options_for_select(["TA個別登録", "TA一括登録"]), id: "registration_type_select", class: "form-control my-2 mb-4" %>
        <%# 個人登録のフォームを表示 %>
        <div id="individual_registration_form" style="display: block;">
          <%= render "form", teaching_assistant: @teaching_assistant %>
        </div>

        <%# 一括登録を表示 %>
        <div id="import_form" style="display: none;" class="mb-3">
          <%= form_tag import_teaching_assistants_path,  multipart: true do %>
            <div class="row">
              <div class="col-8"><%= file_field_tag :file, accept: ".csv", class: "form-control" %></div>
              <div class="col-4"><%= submit_tag "登録",class: "ms-5 btn btn-primary px-4" %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <%# 検索欄 %>
    <div class="card my-3">
      <div class="card-header">
        検索欄
      </div>
      <div class="card-body">
        <form class="row g-3">
          <%= search_form_for @q, html: {class:"row g-3"} do |f| %>
            <div class="col-md-4">
              <div class="row">
                <div class="col-4"><%= f.label :year_eq, "対象年度",class: "mt-2" %></div>
                <div class="col-8"><%= f.select :year_eq, @select_years, {prompt:"対象年度を選択"},class: "form-control" %></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-4"><%= f.label :name_i_cont, "TA名",class: "mt-2" %></div>
                <div class="col-8"><%= f.search_field :name_i_cont, placeholder: "条件を入力してください" ,class: "form-control" %></div>
              </div>  
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-4"><%= f.label :number_i_cont, "学生番号",class: "mt-2" %></div>
                <div class="col-8"><%= f.search_field :number_i_cont, placeholder: "条件を入力してください" ,class: "form-control" %></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-4"><%= f.label :grade_i_cont, "学年",class: "mt-2" %></div>
                <div class="col-8"><%= f.search_field :grade_i_cont, placeholder: "条件を入力してください" ,class: "form-control" %></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-4"><%= f.label :labo_i_cont, "研究室", class: "mt-2" %></div>
                <div class="col-8"><%= f.search_field :labo_i_cont, placeholder: "条件を入力してください" ,class: "form-control" %></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-4"><%= f.label :description_i_cont, "備考", class: "mt-2" %></div>
                <div class="col-8"><%= f.search_field :description_i_cont, placeholder: "条件を入力してください" ,class: "form-control" %></div>
              </div>
            </div>
            <div class="col-12 text-center mt-5">
              <%= f.submit "検索", class: "btn btn-primary px-4"%>
              <%= link_to "クリア", teaching_assistants_path, class: "ms-5 btn btn-danger px-3" %>
            </div>
          <% end %>
        </form>
      </div>
    </div>
  </div>
  <div class="col-1"></div>
</div>


<script>
  document.addEventListener("turbo:load", function(){
    const registrationTypeSelect = document.getElementById("registration_type_select");
    const importForm = document.getElementById("import_form");
    const individualRegistrationForm = document.getElementById("individual_registration_form");

    registrationTypeSelect.addEventListener("change", function(){
      if(registrationTypeSelect.value === "TA一括登録"){
        importForm.style.display = "block";
        individualRegistrationForm.style.display = "none";
      }else if(registrationTypeSelect.value === "TA個別登録"){
        importForm.style.display = "none";
        individualRegistrationForm.style.display = "block";
      }
    });
  });
</script>


<%# TA一覧画面の表部分の作成 %>
<div class="row">
  <div class="col-1"></div>
  <%# TA一覧表部分 %>
  <div class="col-10">
    <div class="card">
      <div class="card-header">
        TA一覧
      </div>
      <div class="card-body m-3">
        <%# TAのカラムのヘッダー %>
        <div class="row border-bottom border-dark pb-3">
          <div class="col my-auto fw-bolder h5">対象年度</div>
          <div class="col my-auto fw-bolder h5">TA名</div>
          <div class="col my-auto fw-bolder h5">学生番号</div>
          <div class="col my-auto fw-bolder h5">学年</div>
          <div class="col my-auto fw-bolder h5">研究室</div>
          <div class="col my-auto fw-bolder h5">備考</div>
        </div>
        <%# TAのレコードデータ %>
        <div id="courses">
          <% @teaching_assistants.each do |teaching_assistant| %>
            <div class="row border-bottom px-3 py-2">
              <% if teaching_assistant.id == 1 %>
                <% next %>
              <% else %>
                <div class="col my-auto"><%= teaching_assistant.year %></div>
                <div class="col my-auto"><%= teaching_assistant.name %></div>
                <div class="col my-auto"><%= teaching_assistant.number %></div>
                <div class="col my-auto"><%= teaching_assistant.grade %></div>
                <div class="col my-auto"><%= teaching_assistant.labo %></div>
                <div class="col"><%= teaching_assistant.description %></div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1"></div>
</div>
