<h1>新規TAマスタデータ追加</h1>

<%= render "form", teaching_assistant: @teaching_assistant %>

<br>

<%= form_tag import_teaching_assistants_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "登録" %>
<% end %>

<div>
  <%= link_to "TA一覧に戻る", teaching_assistants_path %>
</div>
