<p style="color: green"><%= notice %></p>

<%= render @teaching_assistant %>

<div>
  <%= link_to "編集", edit_teaching_assistant_path(@teaching_assistant) %> |
  <%= link_to "TA一覧", teaching_assistants_path %>

  <%= button_to "削除", @teaching_assistant, method: :delete %>
</div>
