<% if flash[:color] == "red" %>
  <div class="red-text"><%= flash[:notice] %></div>
<% elsif flash[:color] == "green" %>
  <div class="green-text"><%= flash[:notice] %></div>
<% else %>
  <div><%= flash[:notice] %></div>
<% end %>

<h1>TA個人画面 : <%= @teaching_assistant.name %></h1>

<%= link_to "TA一覧画面へ", teaching_assistants_path, class: 'btn btn-info' %>

<%#= link_to "帳票出力", ta_assignment_output_csv_url(teaching_assistant_id: @teaching_assistant.id),  data: { "turbo-method": :post} ,class: 'btn btn-info' %>
<%= link_to "帳票出力1", ta_assignment_output_csv_url(teaching_assistant_id: @teaching_assistant.id, form:1), class: 'btn btn-info' %>
<%= link_to "帳票出力2", ta_assignment_output_csv_url(teaching_assistant_id: @teaching_assistant.id, form:2), class: 'btn btn-info' %>


<div>
  対象年度: <%= @teaching_assistant.year %>
  学年: <%= @teaching_assistant.grade %>
  学生番号: <%= @teaching_assistant.number %>
  割当総時間: 
</div>

<form class="row g-3">
  <%= search_form_for @q, html: {class:"row g-3"} do |f| %>
    <div class="col-md-4">
      <%= f.label :course_name_i_cont, "講義名" %>
      <%= f.search_field :course_name_i_cont, placeholder: "条件を入力してください" %>
    </div>
    <div class="col-md-4">
      <%= f.label :course_term_i_cont, "対象学期" %>
      <%= f.search_field :course_term_i_cont, placeholder: "条件を入力してください" %>
    </div>
    <div class="col-12">
      <%= f.submit "検索", class: "btn btn-primary" %>
    </div>
  <% end %>
</form>

<table class="table table-bordered">
  <thead class="table-primary">
    <tr>
      <th>講義名</th>
      <th>対象学期</th>
      <th>開始時刻</th>
      <th>終了時刻</th>
      <th>合計勤務時間(分)</th>
    </tr>
  </thead>
  <tbody>
    <div id="assignments">
      <% @assignments.each do |assignment| %>
          <% assignment.work_hours.each do|work_hour| %>
          <tr>
            <td><%= assignment.course.name %></td>
            <td><%= assignment.course.term %></td>
            <td><%= work_hour.dtstart %></td>
            <td><%= work_hour.dtend %></td>
            <td><%= work_hour.actual_working_minutes %></td>
          </tr>
        <% end %>
      <% end %>
    </div>
  </table>
</table>
