<!DOCTYPE html>
<html>
  <head>
    <title>Takin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script type="module">
      import { Toast } from "bootstrap.esm.min.js";

      Array.from(document.querySelectorAll(".toast")).forEach(
        (toastNode) => new Toast(toastNode)
      );
    </script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= turbo_include_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column footerFixed">
    <% unless current_page?(root_path) or current_page?("/sessions/admin_new") or current_page?(admin_login_path) or current_page?(login_path) %>
      <%= render partial: 'layouts/header' %>
    <% end %>
    <div class="" style="min-height: 537px">
      <%= yield %>
    </div>
    <% unless current_page?(root_path) or current_page?("/sessions/admin_new") or current_page?(admin_login_path) or current_page?(login_path) %>
      <%= render partial: 'layouts/footer' %>
    <% end %>
  </body>
</html>


<style>
  .footerFixed{
    min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
  }

</style>
